body{
    margin: auto;
    width: 1518px;
    height: 100%;
    padding: 0;
    color:#2c3e50;
    font-size: 18px;
    font-family: "Calibri Light", sans-serif;
    background: #ecf0f1;
}
.navbar li{
    border-left: 1px solid #f5b7b1 ;
    display: inline-block;
    padding-left: 30px;
    margin: 0 10px ;
}
.navbar ul{
    background: #2c3e50;
    /*background-image: linear-gradient(to right,#2c3e50,#ecf0f1 );*/
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 25px;
}
.navbar a{
    color:#ecf0f1 ;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.navbar{
    margin-top: -18px;
    width: 1518px;
}
.navbar a:hover{
    background-color:#f5b7b1 ;
    color: #2c3e50 ;
    font-weight: bolder;
}

#home{
    margin-top: -18px;
    background-image: url("5257119-1280_474963607-1551845_l.jpg");
    background-repeat: no-repeat;
    width: 1518px;
    height: 750px;
    background-size: cover;
    filter: brightness(58%);
    align-content: space-around;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(236, 240, 241, 0.9);
    width: 900px;
    margin:auto;
}
#container p{
    color: #2c3e50;
    text-align: center;
    text-justify: auto;
    padding: 0 20px;
    font-variant: all-petite-caps;
    font-size: 20px;
}
#container h2{
    font-variant: all-small-caps;
    color: #2c3e50;
    letter-spacing: 2px;
    font-size: 36px;
}
#team{
    background:#2c3e50;
    width: 1518px;
    height: 2150px;
}
#owner img{
    border-radius: 30px;
    width: 300px;
    height: 10%;
    margin:auto;
    padding-top: 15px;
}
#nails img, #wax img, #makeup img{
    width: 200px;
   height: 250px;
    padding: 10px 20px;
    border-radius: 30px;
}
#content{
    width: 500px;
}
#owner{
    margin-top: 100px;
    background:silver;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 30px;
    margin-left: -70px;
}
#owner #content p{
    text-align: justify;
    padding: 0 20px;
}
#owner #content h2{
    text-align: center;
}
#fullteam{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 600px;
}
#nails, #wax, #makeup{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background:silver;
    width: 1000px;
    border-radius: 30px;
    margin-left: -300px;
}
#nt1, #nt2, #wt1, #wt2, #mp1, #mp2{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px 20px;
}
#booknow img{
    width: 35px;
    height: 35px;
}
#booknow a{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 4px;
}
#booknow a:hover{
    color: white;

}
#booknow {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);*/
    background: rgb(253,114,212);
    background: linear-gradient(90deg, rgba(253,114,212,1) 0%, rgba(253,29,29,0.14898459383753504) 50%, rgba(245,183,177,1) 100%);
    border-radius: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#booking, #contact{
    background:#d7ccc8;
    width: 1518px;
    height: 870px;
    margin: auto;
}
#booking h1{
    text-align: center;
   font-variant: all-petite-caps;
    font-family: "Georgia",serif;
    letter-spacing: 5px;
    font-weight: lighter;
}
#formcontainer{
    display: inline-block;
    margin-top: 150px;
    background-color: #2c3e50;
    color: #d7ccc8;
    width: 1300px;
    height: 500px;
    font-size: 30px;
    border-radius: 30px;
    margin-left: 109px;
    text-align: center;
}
form{
    text-align: justify;
    margin-left: 200px;
}
#submit{
    width:100px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    background-color:#d7ccc8;
    color:#2c3e50 ;
    font-variant: all-small-caps;
    font-weight: bold;
    margin-left: 800px;
}
#booking p{
    font-size: 30px;
   display: inline-block;
    text-align: center;
    font-family: "Georgia",serif;
    margin-left: 510px;
    font-weight: lighter;
}
#price{
    background: #2c3e50;
    width: 1518px;
    height: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 22px;

}
#price div img{
    width: 50px;
    height: 50px;
}
#price div{
    display: flex;
}
#pricecont{
    background-color: #d7ccc8;
    width: 1000px;
    height:1200px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    border-radius: 30px;
    margin-left: 258px;

}
#pricecont div {
    margin-left:100px;
}

#pricecont div p{
    font-size: 28px;
    font-variant: all-petite-caps;
    letter-spacing: 2px;
}
#pricecont h1{
    font-size: 50px;
    font-variant: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Georgia",serif;
    font-weight: lighter;
}
.lists ul{
    list-style-type: circle;
    margin-left: 100px;
    margin-top:-10px;
}
#contact> div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;

}
#contact > div > img{
    width: 700px;
    height: 700px;
    margin-right: 50px;
    margin-top: 100px;
}
#fb, #ins, #vib{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d7ccc8;
    width: 200px;
    height: 65px;
    border-radius: 15px;
    margin-bottom: 15px
;
}
#fb > img, #ins>img, #vib>img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#fb > a, #ins>a, #vib>a{
    font-variant: all-small-caps;
    font-weight: bolder;
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
#side{
    margin-top: 100px;
    margin-right: 100px;
    background-color:#2c3e50 ;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-left: 100px;
}
#contact h1{
    color: #d7ccc8;
    font-size: 40px;
    font-variant: all-small-caps;
}
#contact h1 a{
    text-decoration: none;
    color: #d7ccc8;
}
#fb:hover, #ins:hover, #vib:hover{
    background-color: rgba(215, 204, 200, 0.8);
}
a:hover{
    font-style: oblique;
}